* {
    margin: 0%;
    padding: 0%;
    background-color: #000000;
    scroll-behavior: smooth;
    font-family:'Times New Roman', Times, serif;
}

.nav {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
    position: sticky;
    top: 0px;
}

.d1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* padding-top: 1%; */
    flex-wrap: wrap;
}

.name {
    color: rgb(255, 255, 255);
    background-color: none;
    font-style: italic;
    font-size: 50px;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-top: 2%;
}

.href {
    color: azure;
    /* padding: 4%; */
    text-decoration: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.href:hover {
    color: aqua;
    text-decoration: overline 3px #ffffff solid;
    transition: 1s;

}

.about_d {
    color: aqua;
    margin-top: 5%;
    margin-bottom: 3%;
    text-decoration: #ffffff 3px;
    font-weight: 400;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p1 {
    color: aliceblue;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 3rem;
    padding: 0%;
    text-align: center;
    text-align:center;

}

#d2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    align-items: center;

}

.about_p {
    font-size:2rem;
    color: #ffffff;
    text-decoration: wavy;
    margin-top: 1%;
    display: flex;
    width: 80%;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    padding: 3%;
    
    text-align: start;
}

.span1 {
    color: aqua;
    font-weight: 900;
    font-size: 160%;
    height: max-content;
}

.im1 {
    height: auto;
    width: 400px;
    width: 30%;
    margin: 5%;
    border-radius: 80px;
    /* box-shadow: 2px 10px 20px 20px #0cfdf5,2px 10px 20px 0px; */
    border-width: 10px;
    border-color: antiquewhite;
}

@media all and (max-width: 640px) {
    .im1 {
      width: 80%;
      border-radius: 5px;
    }
    .p1{
        font-size:medium;
    }
    center{
        font-size:medium;
    }
    .about_p{
        font-size:medium;
    }
    .intern_p{
        font-size: medium;
        padding: 5%;
    }
    .intern_h{
        font-size: medium;
        padding: 5%; 
    }

}
/* .im1:hover {
    box-shadow: 2px 10px 20px 5px #0cfdf5, 2px 10px 20px 5px;
    opacity: 1;
    transition: 0.9s;
} */

.d3 {
    color: aliceblue;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 3%; */
    /* font-size: 160%; */
    padding: 4%;
    text-align: center;
}

.d3 div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction:column;
    text-wrap: wrap;
    margin-top: 2%;

}

.d3 div .ed_p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#ed {
    color: aqua;
    padding: 4%;
    /* margin-bottom: 3%; */
    padding: 2%;
    font-family: "Black Ops One", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 250%;
    height: max-content;
}

.ins {
    color: aqua;
    font-weight: 300;
    font-size: 190%;
}

.ed_p {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2%;
}

.big_d {
    display: flex;
    flex-direction: column;
    align-items: space;
    margin: 5%;
    column-gap: 10%;
}

#pro_1 {
    color: aqua;
    padding: 2%;
    font-family: "Black Ops One", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 250%;
    height: max-content;
}

.image {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10%;
}

.pro_bn {
    background-color: aqua;
    color: black;
    width: 48%;
    height: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
}

.pro_img1 {
    width: 300px;
    height: 350px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 25px;
    opacity:1;
    padding: 3%;
}



.pro_img2 {
    width: 300px;
    opacity: 1;
    height: 350px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 3%;
}

/* .pro_img1:hover {
    transition: 0.9s;
    opacity: 1;
    z-index: 1;
}

.pro_img2:hover {
    transition: 0.9s;
    opacity: 1;
    z-index: 1;
} */

.project_1 {
    display: flex;
    padding: 2%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1%;
    /* padding: 4%; */

}

.project_12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.project_b1 {
    background-color: transparent;
    /* border-width: 3px; */
    color: Black;
    border-color: rgb(255, 255, 255);
    background-color: aqua;
    transition: 1s;
    transform-style: preserve-3d;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 2%;

}

/* .project_b1:hover {
    color: Black;
    border-color: rgb(255, 255, 255);
    background-color: aqua;
    transition: 1s;
    transform-style: preserve-3d;
} */

.contain a{
    text-decoration: none;
}

#intern_topic {
    color: aqua;
    padding: 2%;
    font-family: "Black Ops One", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 250%;
    height: max-content;
}

.intern_h {
    color: aqua;
    font-weight: 300;
    font-size: 190%;
    align-items: start;
    padding: 1%;
}

.intern_p p {
    transform: scaleY();
    font-size: 125%;
    color: #ffffff;
    text-decoration: wavy;
    /* margin-top: 0%; */
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: start;
    align-items: start;width: 100%;
}

.intern {
    /* gap: 4px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* margin-top: 3%; */
    width: 90%;
    text-align: start;
    padding: 2%;

}

.skill_h {
    color: aqua;
    padding: 2%;
    font-family: "Black Ops One", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 250%;
    height: max-content;
}

.skill_ol {
    /* margin-top: 2%; */
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    font-size: 200%;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
   list-style-type:none;
    padding: 3%;
    flex-basis: 50%;
}

.skill_ul {
    padding: 2%;
    margin:1%;
    color: #ffffff;
    /* border: #0cfdf5 2px solid; */
    justify-content: space-between;
    /* flex-basis: 45%; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:100%;
    align-items: center;
    justify-content: center;
    /* margin-top: 3%; */
}


.msg_p {
    color: #ffffff;
}

.sp1{
    color: #ffffff;
}

/* csss */

.connect{
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 5%;
    /* padding: 3%; */
    /* gap: 30px; */
}
.connect_01{
    display: flex;
    flex-direction: column;
    /* justify-content:; */
    align-items:center;
    gap: 20px;
    width: 50%;

}
.connect_one{
    display: flex;
    flex-direction:row;
    /* justify-content: start; */
    gap: 20px; 
    padding-bottom: 3%;
}

.connect_one a{
    font-size: 100%;
    padding: 5% 0%;
    color: aqua;
}

.connect_one a:hover{
    transition:2s;
    transform: scale(1.5);
}
.connect_two a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: solid aqua 3px;
    background: #00eeff;
    align-items: center;
    border-radius: 5px;
    font-size: 150%;
    padding:3%; 
    width: max-content;  
}
.connect_two{
    width: 50%;
    
}

.address{
    width: 50%;
    text-align: start;
    color: rgb(255, 255, 255);
    
    text-align:center;
}

@media all and (max-width: 640px) {
    .connect {
        display: flex;
        flex-direction: column; 
        width: 100%;     
    }
    .connect_01{
        width: 100%;
        padding-top: 10%;
    }
    .address{
        text-align: left;
    }
   
    .connect_two{
        font-size:medium;
        width:50%;
        padding-bottom:20%;
    }  
}
